@using Newtonsoft.Json;
@model Calculate
    <script src="~/js/WorkWithParameters.js"></script>
<div class="collapse" id="CollapsParameters">
    <div class="col col-lg-3">
        <div class="form-group">
            <div class="input-group ">
                <div class="input-group-prepend">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Параметр</span>
                    </div>
                </div>
                <select class="form-control" id="ParameterSelect" onchange="ChangeSelect(this)">
                    <option />
                    @foreach (var parameter in Model.GetParametersForSelect().Keys)
                    {
                        <option selected=@(Model.SelectedParameterName==parameter)>@parameter</option>
                    }
                </select>
            </div>
        </div>
        <div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">От</span>
                    </div>
                    <input id="From" type="number" class="form-control" value="@Model.From">
                    <div class="input-group-prepend">
                        <span class="input-group-text">До</span>
                    </div>
                    <input id="To" type="number" class="form-control" value="@Model.To">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Количество точек</span>
                    </div>
                    <input id="CountDots" type="number" class="form-control" value="@Model.CountDots">
                </div>
            </div>
            @{

                foreach (var parameter in Model.GetParameters())
                {
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@parameter.Key</span>
                            </div>
                            <input id="@parameter.Key" type="number" class="form-control" value="@parameter.Value" disabled="@(parameter.Key==Model.SelectedParameterName)">
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<script>
    window.onload = function ()
    {
        @{

            //string Names = JsonConvert.SerializeObject(new string[] {Model.SelectedParameterName});
            string P = JsonConvert.SerializeObject(Model.P);
            string ParameterValues = JsonConvert.SerializeObject(Model.ParameterValues);

        }

        sessionStorage["Names"] = "["+"@Model.SelectedParameterName" +", P]";
        sessionStorage["P"] =  "@P";
        sessionStorage["ParameterValues"] = "@ParameterValues";
    };
</script>